{% embed 'partials/base.html.twig' %}

	{% set content_collection = page.collection() %}

	{% block content %}

	<section class="page-title parallax">
	  <div data-parallax="scroll" data-image-src="{{ url('theme://images/bg/18.jpg') }}" class="parallax-bg"></div>
	  <div class="parallax-overlay">
	    <div class="centrize">
	      <div class="v-center">
	        <div class="container">
	          <div class="title center">
	            <h1 class="upper">Content<span class="red-dot"></span></h1>
	            <h4>Selected works of Ryan Kennedy</h4>
	            <hr>
	          </div>
	        </div>
	        <!-- end of container-->
	      </div>
	    </div>
	  </div>
	</section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-posts">
          {% for child in content_collection %}
            <article class="post-single">
              <div class="post-info">
                <h2><a href="{{ child.url }}">{{ child.title }}</a></h2>
                <h6 class="upper"><span>By</span><a href="#"> Ryan Kennedy</a><span class="dot"></span><span>{{ child.date|date("j F") }} {{ child.date|date("Y") }}</span><span class="dot"></span><a href="{% for category in child.taxonomy.category %}{{ base_url }}/content/category{{ config.system.param_sep }}{{ category }}{% endfor %}" class="post-tag">{% for category in child.taxonomy.category %}{{ category }}{% endfor %}</a></h6>
              </div>
              <div class="post-media">
                <div data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;controlNav&quot;: true" class="flexslider nav-outside">
                  <ul class="slides">
                    <li>
                      <img src="{{ url('theme://images/blog/1.jpg') }}" alt="">
                    </li>
                    <li>
                      <img src="{{ url('theme://images/blog/2.jpg') }}" alt="">
                    </li>
                    <li>
                      <img src="{{ url('theme://images/blog/3.jpg') }}" alt="">
                    </li>
                  </ul>
                </div>
              </div>
              <div class="post-body">
                <p>{{ child.summary }}</p>
                <p><a href="{{ child.url }}" class="btn btn-color btn-sm">Read More</a>
                </p>
              </div>
            </article>
            <!-- end of article-->
          {% endfor %}
              
          </div>
          {% if config.plugins.pagination.enabled %}
              {% include 'partials/custom_pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
          {% endif %}
        </div>
		  {% include 'partials/sidebar.html.twig' with {'blog':page} %}
      </div>
      <!-- end of row-->
    </div>
    <!-- end of container-->
  </section>

  {% block contact %}
      <section id="contact">
          {% include "partials/contact.html.twig" %}
      </section>
  {% endblock %}

	{% endblock %}

{% endembed %}