{% extends 'partials/base.html.twig' %}

{% block content %}
	<section id="home" class="dark particles-bg">
	  <div class="slide-wrap">
	    <div class="slide-content">
	      <div class="container">
	        <h6 class="mb-0">Hello, my name is Ryan Kennedy</h6>
	        <!-- Text rotator-->
	        <div id="text-rotator" class="flexslider mt-15 mb-15">
	          <ul class="slides">
	            <li>
	              <h1 class="upper fw-400">Analysts<span class="red-dot"></span></h1>
	            </li>
	            <li>
	              <h1 class="upper fw-400">Developer<span class="red-dot"></span></h1>
	            </li>
	            <li>
	              <h1 class="upper fw-400">Writer<span class="red-dot"></span></h1>
	            </li>
	          </ul>
	        </div>
	        <!-- end of text rotator                    -->
	        <ul class="social-list">
	          <li><a target="_blank" href="#"><i class="ti-facebook"></i></a>
	          </li>
	          <li><a target="_blank" href="#"><i class="ti-twitter-alt"></i></a>
	          </li>
	          <li><a target="_blank" href="#"><i class="ti-linkedin"></i></a>
	          </li>
	          <li><a target="_blank" href="#"><i class="ti-instagram"></i></a>
	          </li>
	          <li><a target="_blank" href="#"><i class="ti-pinterest"></i></a>
	          </li>
	          <li><a target="_blank" href="#"><i class="ti-github"></i></a>
	          </li>
	        </ul>
	        <!-- end of social icons-->
	      </div>
	    </div>
	  </div>
	</section>
	<section id="about">
	  <div class="container">
	    <div class="title center"><i class="icon-profile-male"></i>
	      <h3>About Me<span class="red-dot"></span></h3>
	      <hr>
	    </div>
	    <div class="section-content text-center">
	      <div class="row">
	        <div class="col-md-10 col-md-offset-1">
	          {{ page.content }}
	        </div>
	      </div>
	      <!-- end of row-->
	    </div>
	    <!-- end of section content-->
	  </div>
	  <!-- end of container          -->
	</section>

	<section id="experience">
	  <div class="container-fluid">
	    <div class="row">
	      <div class="col-md-6 col-sm-4 img-side img-left">
	        <div class="img-holder overlay">
	          <img src="{{ url('theme://images/skills.jpg') }}" alt="" class="bg-img">
	          <div class="centrize">
	            <div class="v-center">
	              <div class="title txt-sm-center txt-xs-center m-0">
	              	<h4 class="upper">Some of my talents</h4>
	                <h3>Skills<span class="red-dot"></span></h3>
	                <hr>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <!-- end of side background image-->
	    </div>
	    <!-- end of row-->
	  </div>
	  <div class="container">
	    <div class="row">
	      <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
	        <ul role="tablist" class="nav nav-tabs outline">
	          <li role="presentation" class="active"><a href="#method-tab" role="tab" data-toggle="tab">Method</a>
	          </li>
	          <li role="presentation"><a href="#skills-tab" role="tab" data-toggle="tab">Skills</a>
	          </li>
	        </ul>
	        <!-- end of nav tabs-->
	        <div class="tab-content">
	          <div id="method-tab" role="tabpanel" class="tab-pane fade in active">
	            <p class="alt-paragraph mb-15">Consectetur adipisicing elit. Nisi quibusdam adipisci dignissimos nihil cumque sapiente dolorem, laborum.</p>
	            <p class="alt-paragraph mb-15">Aperiam maxime qui sed necessitatibus earum voluptatem nobis modi soluta, unde aliquid veniam reiciendis repudiandae voluptas possimus!</p>
	            <p class="alt-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur assumenda qui facilis magni quod quia quas recusandae cum rem amet, minus natus impedit autem dolores dolor, sed perspiciatis voluptate, est!</p>
	          </div>
	          <div id="skills-tab" role="tabpanel" class="tab-pane fade">
	            <div class="skill"><span class="skill-name">Design</span><span class="skill-perc">90%</span>
	              <div class="progress">
	                <div role="progressbar" data-progress="90" class="progress-bar colored"></div>
	              </div>
	            </div>
	            <div class="skill"><span class="skill-name">Branding</span><span class="skill-perc">80%</span>
	              <div class="progress">
	                <div role="progressbar" data-progress="80" class="progress-bar colored"></div>
	              </div>
	            </div>
	            <div class="skill"><span class="skill-name">Product Development</span><span class="skill-perc">85%</span>
	              <div class="progress">
	                <div role="progressbar" data-progress="85" class="progress-bar colored"></div>
	              </div>
	            </div>
	            <div class="skill"><span class="skill-name">Web Development</span><span class="skill-perc">95%</span>
	              <div class="progress">
	                <div role="progressbar" data-progress="95" class="progress-bar colored"></div>
	              </div>
	            </div>
	            <div class="skill"><span class="skill-name">Marketing</span><span class="skill-perc">85%</span>
	              <div class="progress">
	                <div role="progressbar" data-progress="85" class="progress-bar colored"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <!-- end of tab content-->
	      </div>
	    </div>
	  </div>
	</section>
	<section id="content">
	  <div class="container">
	    <div class="title center">
	      <h4 class="upper">Selected works of Ryan Kennedy</h4>
	      <h2>Content<span class="red-dot"></span></h2>
	      <hr>
	    </div>
	    <div class="section-content">
	      <div class="row">
	        <div class="col-md-8 col-md-offset-2">
        	{% for p in page.find('/content').children if p != page %}
	          <div class="blog-post">
	            <div class="post-body">
	              <h3 class="serif"><a href="{{ p.url }}">{{ p.title }}</a></h3>
	              <hr>
	              <p class="serif">{{ p.summary }}</p>
	              <div class="post-info upper"><a href="{{ p.url }}">Read More</a><span class="pull-right black-text">{{ p.date|date("j F") }} {{ p.date|date("Y") }}</span>
	              </div>
	            </div>
	            <!-- end of blog post-->
	          </div>
          	{% endfor %}
	        </div>
	      </div>
	      <!-- end of row-->
	      <div class="clearfix"></div>
	      <div class="mt-25">
	        <p class="text-center"><a href="{{ base_url }}/content" class="btn btn-color-out">View More Articles</a>
	        </p>
	      </div>
	    </div>
	    <!-- end of container-->
	  </div>
	</section>

	<section id="services" class="p-0 b-0">
	  <div class="container-fluid">
	    <div class="row">
	      <div class="col-md-6 col-sm-4 img-side img-left mb-0">
	        <div class="img-holder">
	          <img src="{{ url('theme://images/expertise.jpg') }}" alt="" class="bg-img">
	          <div class="centrize">
	            <div class="v-center">
	              <div class="title txt-xs-center">
	                <h4 style="color:white;" class="upper">This is what I love to do.</h4>
	                <h3>Expertise<span class="red-dot"></span></h3>
	                <hr>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <!-- end of side background image-->
	      <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
	        <div class="services">
	          <div class="row">
	            <div class="col-sm-6 border-bottom border-right">
	              <div class="service"><i class="icon-focus"></i><span class="back-icon"><i class="icon-focus"></i></span>
	                <h4>Branding</h4>
	                <hr>
	                <p class="alt-paragraph">Facilis doloribus illum quis, expedita mollitia voluptate non iure, perspiciatis repellat eveniet volup.</p>
	              </div>
	              <!-- end of service-->
	            </div>
	            <div class="col-sm-6 border-bottom">
	              <div class="service"><i class="icon-layers"></i><span class="back-icon"><i class="icon-layers"></i></span>
	                <h4>Automation</h4>
	                <hr>
	                <p class="alt-paragraph">Advanced scripts to automated basic and advanced tasks, such as website deployment, financial statements and article editing.</p>
	              </div>
	              <!-- end of service-->
	            </div>
	            <div class="col-sm-6 border-bottom border-right">
	              <div class="service"><i class="icon-mobile"></i><span class="back-icon"><i class="icon-mobile"></i></span>
	                <h4>Design</h4>
	                <hr>
	                <p class="alt-paragraph">Modern and minimalistic website design, efficient deployment and server maintenance.</p>
	              </div>
	              <!-- end of service-->
	            </div>
	            <div class="col-sm-6 border-bottom">
	              <div class="service"><i class="icon-globe"></i><span class="back-icon"><i class="icon-globe"></i></span>
	                <h4>Editing</h4>
	                <hr>
	                <p class="alt-paragraph">Aliquid repellat facilis quis. Sequi excepturi quis dolorem eligendi deleniti fuga rerum itaque.</p>
	              </div>
	              <!-- end of service-->
	            </div>
	          </div>
	        </div>
	        <!-- end of row-->
	      </div>
	    </div>
	    <!-- end of row -->
	  </div>
	</section>

	<section id="portfolio" class="pb-0">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6">
	        <div class="title m-0 txt-xs-center txt-sm-center">
	          <h2 class="upper">Selected Works<span class="red-dot"></span></h2>
	          <hr>
	        </div>
	      </div>
	      <div class="col-md-6">
	        <ul id="filters" class="no-fix mt-25">
	          <li data-filter="*" class="active">All</li>
	          <li data-filter=".branding">Branding</li>
	          <li data-filter=".graphic">Graphic</li>
	          <li data-filter=".automation">Automation</li>
	          <li data-filter=".video">Video</li>
	        </ul>
	        <!-- end of portfolio filters-->
	      </div>
	    </div>
	    <!-- end of row-->
	  </div>
	  <div class="section-content pb-0">
	    <div id="works" class="four-col wide mt-50">
    	{% for p in page.find('/portfolio').children if p != page %}
	      <div class="work-item{% for category in p.taxonomy.section %} {{ category }} {% endfor %}">
	        <div class="work-detail">
	          <a href="{{ p.url }}">
	            <img src="{{ url('theme://images/portfolio/1.jpg') }}" alt="">
	            <div class="work-info">
	              <div class="centrize">
	                <div class="v-center">
	                  <h3>{{ p.title }}</h3>
	                  <p>{% for category in p.taxonomy.section %}{{ category }} {% endfor %}</p>
	                </div>
	              </div>
	            </div>
	          </a>
	        </div>
	      </div>
      	{% endfor %}
	    </div>
	    <!-- end of portfolio grid-->
	  </div>
	</section>

	{% block contact %}
        <section id="contact">
            {% include "partials/contact.html.twig" %}
        </section>
    {% endblock %}
{% endblock %}