<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">

<head>

{% block head %}
    <meta charset="utf-8" />
    <title></title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/bundle.css', 100) %}
        {% do assets.addCss('theme://css/style.css', 100) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 100) %}

    {% endblock %}
    {{ assets.css() }}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Halant:300,400" rel="stylesheet" type="text/css">

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/bundle.js') %}
        {% do assets.addJs('https://maps.googleapis.com/maps/api/js?v=3.exp') %}
        {% do assets.addJs('theme://js/main.js') %}
    {% endblock %}
{% endblock head %}

</head>

<body>

    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->

    {% block header %}
        <header id="topnav">
            {% include "partials/header.html.twig" %}
        </header>
    {% endblock %}
{#     {% block header %}
        {% if page.url == {{ base_url }} %}
                <header id="topnav">
                    {% include "partials/header.html.twig" %}
                </header>
        {% else %}
                <header id="topnav">
                    {% include "partials/header_alt.html.twig" %}
                </header>      
        {% endif %} 
    {% endblock %} #}

    {% block content %}
    {% endblock %}

    {% block footer %}
        <footer id="footer">
            {% include "partials/footer.html.twig" %}
        </footer>
    {% endblock %}

    {% block bottom %}
        {{ assets.js() }}
    {% endblock %}

</body>

</html>
