<div class="container">
  <div class="footer-wrap b-0">
    <div class="row">
      <div class="col-md-4">
        <div class="copy-text">
          <p><i class="icon-heart red mr-15"></i>© 2017 Ryan Kennedy.</p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="{{ base_url }}/content">Content</a>
          </li>
          <li>
            <a href="{{ base_url }}/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="{{ base_url}}/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="footer-social">
          <ul>
            <li><a target="_blank" href="{{ site.facebook }}"><i class="ti-facebook"></i></a>
            </li>
            <li><a target="_blank" href="{{ site.linkedin }}"><i class="ti-linkedin"></i></a>
            </li>
            <li><a target="_blank" href=" {{ site.instagram }}"><i class="ti-instagram"></i></a>
            </li>
            <li><a target="_blank" href=" {{ site.upwork }}"><i class="ti-briefcase"></i></a>
            </li>
            <li><a target="_blank" href="mailto:ryan+webATryankennedyDOTme"    onclick = "this.href=this.href
              .replace(/AT/,'&#64;')
              .replace(/DOT/,'&#46;')"><i class="ti-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>